{% block html%}


<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="://localhost:8080/favicon.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css" >
    <title>frontend</title>
  <script defer src="http://localhost:8080/js/chunk-vendors.js"></script><script defer src="http://localhost:8080/js/app.js"></script></head>
  <body>

            {% if request.user.is_staff %}
                <p id="auth" style="display: none">ADMIN</p>
            {% elif request.user.is_authenticated  %}
                <p id="auth" style="display: none">AUTHED</p>
            {% else %}
                <p id="auth" style="display: none">GUEST</p>
            {% endif %}

      {% block body%}
          {{ block.super }}
          {% block content %}
              {% endblock %}
      {% endblock %}

    <!-- built files will be auto injected -->
  </body>
</html>

{% endblock %}